/bg (1).jpg
/bg.jpg
/classsample.py
/DOC-20231220-WA0013
/env
/example.py
/hh.py
/inheritance_sample.py
/logo.png
/multipleinheritance_sample.py
/operator_sample.py
/password.png
/ss.py
/student (1).png
/student.png
/STudentManagmentSystem
/sudhu.py
/user.png
/__pycache__